/* JoinRoom.js */
/* ------------------------------ */
.joinChat__container {
  width: 490px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  min-height: 600px;
}

.joinChat__content {
  border: 1px solid rgb(69, 125, 255);
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.5);
}

.joinChat__form-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.joinChat__about h3 {
  font-weight: 600;
}


/* Chat.js */
/* ------------------------------- */

.main__container {
  width: 90%;
  height: 550px;
  display: flex;
  gap: 5px;
}

#main {
  margin-top: 10vh;
 
}

.playerRoom__container {
  border: 1px solid #000;
  border-radius: 2px;
  width: 20rem
}


.canvas__container {
  border: 1px solid #000;
  border-radius: 2px;
}

.canvas__body {
  position: relative;
  border: 1px solid green;
  width: 800px;
  height: 100%;
}

#canvas {
  border: 1px solid red;
  background-color: #FFF;
}

.chatRoom__container {
  margin: 0 auto;
  width: 30rem;
  border: 1px solid #000;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  overflow: auto;
}

.chatRoom__header {
  padding: 2px 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

.chatRoom__header h3 {
  font-weight: 900;
}

.chatRoom__body {
  padding: 2px 5px;
  height: calc(100% - 34px);
  overflow: auto;
  overflow-wrap: break-word;
}

.chatRoom__message {
  font-size: 0.9rem;
  padding: 2px 4px;
}

.chatRoom__message:nth-child(even) {
  background-color: #fff;
}

.chatRoom__footer form {
  position: relative;
}

.chatRoom__footer form::after {
  content: "";
  clear: both;
  display: table;
}

.chatRoom__footer input {
  padding: 5px;
  width: calc(100% - 30px);
  float: left;
}

.chatRoom__footer button {
  padding: 5px 0;
  width: 30px;
  float: right;
}

